<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710721300209-6cjjfoo47kukjfkoti4ao5ijcuhk15tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710721300209-6cjjfoo47kukjfkoti4ao5ijcuhk15tb</string>
	<key>API_KEY</key>
	<string>AIzaSyAGYYsj5NefjnCdoansLj0EGuYFuKpxKqU</string>
	<key>GCM_SENDER_ID</key>
	<string>710721300209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>gamo-7dec8</string>
	<key>STORAGE_BUCKET</key>
	<string>gamo-7dec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710721300209:ios:5ee120b864f9dbdc3f6b50</string>
</dict>
</plist>